<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Board Form</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>

<div th:replace="layout/header::header"></div>

<div class="container">
    <div class="page-header">
        <h1>게시글 등록</h1>
    </div>
    <br/>
    <table class="table">
        <tr>
            <th style="padding: 13px 0 0 15px;">제목</th>
            <td><input id="board_title" type="text" name="board_title" class="col-md-1 form-control input-sm"/></td>
        </tr>
        <tr>
            <th style="padding: 13px 0 0 15px;">내용</th>
            <td><textarea id="board_content" class="col-md-1 form-control input-sm" maxlength="140" rows="7" style="height: 200px;" name="board_content"></textarea><span class="help-block"></span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="pull-left">
        <a href="/board/list" class="btn btn-default">목록으로</a>
    </div>
    <div class="pull-right">
        <button type="button" class="btn btn-primary" id="insert">저장</button>
        <button th:if="${board?.idx}" type="button" class="btn btn-info" id="update">수정</button>
        <button th:if="${board?.idx}" type="button" class="btn btn-danger" id="delete">삭제</button>
    </div>
</div>

<div th:replace="layout/footer::footer"></div>

<script>
    $('#insert').click(function () {
        var jsonData = JSON.stringify({
            idx: $('#board_idx').val(),
            title: $('#board_title').val(),
            content: $('#board_content').val()
        });
        $.ajax({
            url: "http://localhost:8080/board/insert",
            type: "POST",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function () {
                alert("success");
                location.href='/board/list';
            },
            error: function () {
                alert("fail");
            }
        });
    });
</script>
</body>
</html>